* {
margin:0;
padding:0;
}
QMainWindow{
background: white;
}
#groupBox{
background: white;
border:0px;
border-radius:5px;
width:100%;
height:100%;
}
#LabelBox{
position:absolute;
height:10px;
background:white;
border:1px solid #969696;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom:0px ;
}
QLabel{
font-weight:600;
font-size:13px;
}
#TableIP{
background:white;
border:1px solid #969696;
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
border-top:0px ;
}
#TableIPArea{
background:white;
border:0px;
}
